<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="Kevin Canha" content="CMSC335">
    <title>Spotterbox'd</title>
</head>


<body>
    <h2>Please login to Spotterbox'd</h2>
   
    <a href="\login">Login page</a> <br>

</body>